@font-face {
  font-family: 'Barlow';
  src: local("Barlow Regular"), local("Barlow-Regular"), url("../fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: local("Barlow Medium"), local("Barlow-Medium"), url("../fonts/Barlow-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 600;
}

.main {
  background-color: #EFF6FF;
  padding: 100px 0;
}

.main__body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px #e1edfd;
          box-shadow: 0px 0px 30px #e1edfd;
}

.main__col.main__col--image {
  width: 52.5%;
  background: url("../img/bg.jpg") center/cover no-repeat;
}

.main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 75px;
  height: 100%;
}

.main__addition {
  font-size: 18px;
  color: #637583;
  margin-bottom: 56px;
}

.main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -18px 50px -18px;
}

.main__btn {
  font-size: 13px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
  min-height: 44px;
  width: 100%;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  margin: 0 18px;
  min-height: 56px;
}

.main__btn img {
  max-width: 20px;
  max-height: 20px;
  display: inline-block;
  margin-right: 16px;
}

.main__btn--fb {
  background-color: #255A9B;
}

@media (any-hover: hover) {
  .main__btn--fb:hover {
    -webkit-box-shadow: 0px 0px 20px rgba(37, 90, 155, 0.3);
            box-shadow: 0px 0px 20px rgba(37, 90, 155, 0.3);
  }
}

.main__btn--in {
  background-color: #0076B6;
}

@media (any-hover: hover) {
  .main__btn--in:hover {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 118, 182, 0.3);
            box-shadow: 0px 0px 20px rgba(0, 118, 182, 0.3);
  }
}

.main__divider {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
}

.main__divider p {
  position: relative;
  display: inline-block;
  min-width: 246px;
}

.main__divider p:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #e5e5e5;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main__divider span {
  display: inline-block;
  min-width: 30px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 44px;
  left: 50px;
  width: 142px;
}

.logo img {
  max-width: 100%;
}

.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -18px 64px -18px;
}

.form__label {
  margin: 0 18px;
  width: 100%;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #efefef;
  -webkit-transition: border-radius 0.3s ease 0s, border-color 0.3s ease 0s;
  transition: border-radius 0.3s ease 0s, border-color 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 12px;
}

.form__label span {
  font-size: 14px;
  color: #8698a4;
  display: inline-block;
  margin-bottom: 8px;
}

.form__label:focus-within, .form__label:hover {
  border-radius: 0px 8px 0px 0px;
  border-left: 1px solid #3597fc;
}

.form__input {
  color: #000;
  font-weight: 500;
  font-size: 16px;
}

.form__addition {
  font-size: 14px;
  color: #637583;
  margin-bottom: 40px;
}

.form__btn {
  border-radius: 8px;
  background-color: #3698fb;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  padding: 14px 70px;
  color: #fff;
  border: 1px solid #3698fb;
  -webkit-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}

@media (any-hover: hover) {
  .form__btn:hover {
    background-color: #fff;
    color: #3698fb;
  }
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -10px;
  padding-bottom: 148px;
}

.options__item {
  padding: 10px;
}

.options__radio {
  display: none;
}

.options__radio:checked + .options__label:after {
  opacity: 1;
}

.options__label {
  cursor: pointer;
  font-size: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 140%;
  padding-right: 26px;
  position: relative;
}

.options__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #e3e3e3;
  margin: 0px 12px 0px 0px;
}

.options__label:after {
  content: "";
  border-radius: 50%;
  border: 4px solid #349bfa;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14px;
          flex: 0 0 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #e3e3e3;
  margin-left: 8px;
  color: #e3e3e3;
  font-size: 10px;
  -webkit-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
  transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
}

@media (any-hover: hover) {
  .tooltip:hover {
    border-color: #000;
    color: #000;
  }
  .tooltip:hover .tooltip__description {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.tooltip__description {
  position: absolute;
  top: 44px;
  left: 0;
  min-width: 260px;
  padding: 14px;
  border-radius: 8px;
  font-size: 14px;
  color: #9e9e9e;
  font-weight: 400;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.checkbox {
  margin-bottom: 60px;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label:after {
  opacity: 1;
}

.checkbox__label {
  font-size: 14px;
  color: #9e9e9e;
  font-weight: 400;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 120%;
  cursor: pointer;
  position: relative;
}

.checkbox__label a {
  color: #3696fc;
  text-decoration: underline;
}

@media (any-hover: hover) {
  .checkbox__label a:hover {
    text-decoration: none;
  }
}

.checkbox__label:before {
  content: '';
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 16px;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.checkbox__label:after {
  content: "";
  border-radius: 3px;
  border: 4px solid #349bfa;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  color: #2a465b;
  font-size: 26px;
  margin-bottom: 24px;
  letter-spacing: 1px;
}

.subtitle {
  color: #2a465b;
  font-size: 20px;
  margin-bottom: 16px;
  letter-spacing: 1px;
}

body {
  font-family: 'Barlow', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
}
