.main {
	&__body {
		min-height: 100vh;
		display: flex;
		position: relative;
	}

	&__col {
		&.main__col--image {
			width: 54.5%;
			background: url('../img/bg.jpg') center / cover no-repeat;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 75px;
	}

	&__addition {
		font-size: 18px;
		color: #637583;
		margin-bottom: 56px;
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 -18px 50px -18px;
	}

	&__btn {
		font-size: 14px;
		color: #fff;
		display: flex;
		align-items: center;
		padding: 8px 16px;
		min-height: 44px;
		width: 100%;
		transition: box-shadow 0.3s ease 0s;
		box-shadow: 0px 0px 0px transparent;
		margin: 0 18px;
		img{
			max-width: 20px;
			max-height: 20px;
			display: inline-block;
			margin-right: 16px;
		}
	}

	&__btn--fb {
		background-color: #255b9b;
		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0px 0px 20px rgba(37, 90, 155, 0.5);
			}
		}
	}

	&__btn--in {
		background-color: #0076b6;
		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0px 0px 20px rgba(0, 118, 182, 0.5);
			}
		}
	}

	&__divider {
		font-size: 12px;
		text-transform: uppercase;
		margin-bottom: 50px;
		text-align: center;
		p {
			position: relative;
			display: inline-block;
			min-width: 246px;
			&:after {
				content: '';
				position: absolute;
				z-index: 0;
				top: 50%;
				left: 0;
				height: 1px;
				width: 100%;
				background-color: #e5e5e5;
				transform: translateY(-50%);
			}
		}
		span {
			display: inline-block;
			min-width: 30px;
			background-color: #fff;
			position: relative;
			z-index: 1;
		}
	}
}
.logo {
	position: absolute;
	top: 44px;
	left: 50px;
	width: 142px;
	img{
		max-width: 100%;
	}
}
.form {

	&__inputs {
		display: flex;
		margin: 0 -18px 64px -18px;
	}

	&__label {
		margin: 0 18px;
		width: 100%;
		border-radius: 0px 0px 8px 8px;
		border: 1px solid #efefef;
		transition: border-radius 0.3s ease 0s, border-color 0.3s ease 0s;
		display: flex;
		flex-direction: column;
		padding: 10px 12px;
		span {
			font-size: 14px;
			color: #8698a4;
			display: inline-block;
			margin-bottom: 8px;
		}
		&:focus-within,
		&:hover {
			border-radius: 0px 8px 0px 0px;
			border-left: 1px solid #3597fc;
		}
	}

	&__input {
		color: #000;
		font-weight: 500;
		font-size: 16px;
	}

	&__subtitle {
	}

	&__addition {
		font-size: 14px;
		color: #637583;
		margin-bottom: 50px;
	}

	&__btn {
	}
}
.options {
	&__item {
	}

	&__radio {
	}

	&__label {
	}

	&__tooltip {
	}
}
.tooltip {
	&__description {
	}
}
.checkbox {
	&__input {
	}

	&__label {
	}
}
.container {
	max-width: 1480px;
	padding: 0 20px;
	margin: 0 auto;
}
.title {
	color: #2a465b;
	font-size: 26px;
	margin-bottom: 24px;
	letter-spacing: 1px;
}
.subtitle {
	color: #2a465b;
	font-size: 20px;
	margin-bottom: 16px;
	letter-spacing: 1px;
}